<div (dblclick)="openActMenu = !openActMenu" (click)="openActMenu = false" class="slot" [class.disabled]="isDisabled">

    <span *ngIf="type == SlotTypes.ACTIVITY" class="slot-content" [class.selected]="openActMenu"
        [ngStyle]="{'background-color': activity.color, 'color': (period.name == 'Day camp') ? 'whitesmoke': activity.color}">
        <i *ngIf="lifeguard.schedule[period.name]?.locked" class="fas fa-lock"></i>
        <i *ngIf="lifeguard.schedule[period.name]?.pm" class="fas fa-crown"></i>
        {{ period.name == "Day camp" ? lifeguard.daycampCount: "." }}
    </span>

    <span *ngIf="type == SlotTypes.STAFF" class="slot-content lg-name" [class.selected]="openActMenu"
        [ngClass]="{manager: lifeguard.isLT}">
        <i *ngIf="lifeguard.locked" class="fas fa-lock"></i>
        {{ lifeguard.name }}
    </span>

</div>

<!-- Activities Menu -->
<div *ngIf="openActMenu" class="slot-menu" [class.lt]="lifeguard.isLT">
    <tr>
        <td *ngFor="let activity of activities" (click)="changeActivity(activity, $event)"
            [ngStyle]="{'background-color': (activity.name == DEFAULT_ACTIVITY.name) ? 'white' : activity.color}">
            {{ activity.name[0] }}
        </td>
    </tr>
    <mat-checkbox [checked]="isLocked" (change)="lockSlot($event)">locked</mat-checkbox>
    <mat-checkbox [checked]="isPM" (change)="setManager($event)">manager</mat-checkbox>
</div>