<div>
    <!-- <span>Edit periods:</span> -->

    <mat-form-field appearance="outline">
        <mat-label>Period</mat-label>
        <mat-select [(value)]="selected" (selectionChange)="onPeriodSelected($event.value)">
            <mat-option *ngFor="let period of periods" [value]="period">
                {{ period.name + ' (' + period.start + ' - ' + period.end + ')' }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <span>
        <button mat-icon-button color="primary" (click)="edit()">
            <i class="fas fa-pen"></i>
        </button>
        <button mat-icon-button color="warn" (click)="delete()">
            <i class="fas fa-trash"></i>
        </button>
        <button mat-icon-button color="accent" (click)="add()">
            <i class="fas fa-plus"></i>
        </button>
    </span>

    <div *ngIf="showForm">
        <form [formGroup]="periodForm">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Start at</mat-label>
                <input matInput formControlName="start" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>End at</mat-label>
                <input matInput formControlName="end" />
            </mat-form-field>
            <mat-checkbox formControlName="workingPeriod">Working Period</mat-checkbox>

            <div class="settings-btn-section">
                <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Save</button>
                <button mat-raised-button color="warn" type="button" (click)="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>