<div>
    <!-- <span>Edit activities:</span> -->

    <mat-form-field appearance="outline">
        <mat-label>Activity</mat-label>
        <mat-select [(value)]="selectedAct" style="color: black;" [ngStyle]="{'background-color': selectedAct.color}">
            <mat-option *ngFor="let act of (actList$ | async)" [value]="act">
                {{ act.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <span>
        <button mat-icon-button color="primary" (click)="editAct()">
            <i class="fas fa-pen"></i>
        </button>
        <button mat-icon-button color="warn" (click)="deleteAct()">
            <i class="fas fa-trash"></i>
        </button>
        <button mat-icon-button color="accent" (click)="addAct()">
            <i class="fas fa-plus"></i>
        </button>
    </span>

    <span class="setting-sum">
        Total activities: {{actList.length}}
    </span>

    <div *ngIf="showForm">
        <form [formGroup]="activityForm">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Color</mat-label>
                <input matInput formControlName="color" type="color" />
            </mat-form-field>

            <br>
            <mat-form-field appearance="outline">
                <mat-label>At least:</mat-label>
                <input matInput formControlName="min" type="number" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>At most:</mat-label>
                <input matInput formControlName="max" type="number" />
            </mat-form-field>

            <br>
            <mat-checkbox formControlName="allowLT">Is LT allowed?</mat-checkbox>

            <div class="settings-btn-section">
                <button mat-raised-button color="primary" type="button" (click)="onSubmit()">Save</button>
                <button mat-raised-button color="warn" type="button" (click)="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>