table {
    // width: 99%;
    margin: 0 10px;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
    width: max-content;
}

th,
td {
    width: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: solid silver 1px;
}

.period-name {
    width: 100px;
}

.slot {
    height: 100%;
}