table {
    table-layout: auto;
    border-collapse: collapse;
    text-align: center;
    min-width: 99%;
    width: max-content;
    margin: auto;
    // margin: 0 10px;
}

th,
td {
    width: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: solid silver 1px;
}

.period-name {
    width: 105px;
}

.slot {
    height: 100%;
}