<table mat-table>
    <colgroup>
        <col style="width: 10%;" /> <!-- First column -->
        <col *ngFor="let col of staffList" [style.width.%]="90 / staffList.length" /> <!-- Angular loop example -->
    </colgroup>
    <thead>
        <tr>
            <th></th>
            <th *ngFor="let lifeguard of staffList" class="lg-name slot">
                <slot [lifeguard]="lifeguard" [type]="SlotTypes.HEAD"></slot>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let period of currDayType.periods">
            <td class="period-name">
                {{ period.name }}
                <br> ({{ period.start }}-{{ period.end }})
            </td>
            <td *ngFor="let lifeguard of staffList" class="slot">
                <slot [lifeguard]="lifeguard" [period]="period" class="slot"></slot>
            </td>
        </tr>
    </tbody>
</table>