<div>
    <button mat-icon-button color="primary" [routerLink]="'/settings'">
        <mat-icon>settings</mat-icon>
    </button>

    <tr>
        <td *ngFor="let activity of activities" [ngStyle]="{'opacity': activity.available ? '1' : '0.5',
            'border': '1px solid black', 'cursor': 'pointer',
            'background-color': activity.color,
            'text-decoration': activity.available ? 'none' : 'line-through'
            }" (click)="changeActStatus(activity)">
            {{ activity.name }}
        </td>
    </tr>
</div> <br>

<schedule-table></schedule-table>

<br>
<div class="footer">
<mat-form-field appearance="outline">
    <mat-label>Day Type</mat-label>
    <mat-select [(value)]="currDayType" (selectionChange)="onDayTypeChange($event.value)" style="color: black;">
        <mat-option *ngFor="let day of dayTypes" [value]="day">
            {{ day.name }}
        </mat-option>
    </mat-select>
</mat-form-field>

    <button mat-icon-button style="color:rgb(85, 226, 85)" (click)="exportExcel()">
        <i class="fas fa-file-excel"></i>
    </button>
    <button mat-icon-button style="color: gold;" (click)="saveAllChanges()">
        <i class="fas fa-save"></i>
</button>
    <button mat-icon-button style="color: lightcoral;" (click)="generateSchedule()">
        <i class="fas fa-play-circle"></i>
</button>
    <button mat-icon-button (click)="lockAll()">
        <i *ngIf="!isAllLocked" class="fas fa-table-cells-row-lock"></i>
        <i *ngIf="isAllLocked" class="fas fa-table-cells-row-unlock"></i>
</button>
</div>