<div>
    <button mat-icon-button color="primary" [routerLink]="'/settings'">
        <mat-icon>settings</mat-icon>
    </button>

    <tr>
        <td *ngFor="let activity of activities" [ngStyle]="{'opacity': activity.available ? '1' : '0.5',
            'border': '1px solid black', 'cursor': 'pointer',
            'background-color': activity.color,
            'text-decoration': activity.available ? 'none' : 'line-through'
            }" (click)="changeActStatus(activity)">
            {{ activity.name }}
        </td>
    </tr>
</div> <br>

<schedule-table></schedule-table>

<br>
<mat-form-field appearance="outline">
    <mat-label>Day Type</mat-label>
    <mat-select [(value)]="currDayType" (selectionChange)="onDayTypeChange($event.value)" style="color: black;">
        <mat-option *ngFor="let day of dayTypes" [value]="day">
            {{ day.name }}
        </mat-option>
    </mat-select>
</mat-form-field>

<button mat-icon-button color="primary" (click)="exportExcel()">
    <mat-icon>file_open</mat-icon>
</button>
<button mat-icon-button color="primary" (click)="saveAllChanges()">
    <mat-icon>save</mat-icon>
</button>
<button mat-icon-button color="primary" (click)="generateSchedule()">
    <mat-icon>play_circle</mat-icon>
</button>