.header {
    display: flex;
    justify-content: space-between;
}

.date {
    display: flex;
    align-items: center;
    font-size: 150%;
    font-weight: bold;
}

.act-menu {
    display: flex;
    margin-right: 2%;
}

.act-menu-item {
    background-color: var(--bg-color);
    height: 30px;
    width: 70px;
    background-color: var(--bg-color);
    color: black;
    border: solid gray 1px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 10%;
}

.inactive {
    opacity: 0.5;
    text-decoration: line-through;
    color: gray;
}

.footer {
    display: flex;
    justify-content: space-around;
}