<div class="header">
    <button mat-icon-button [routerLink]="'/settings'">
        <i class="fas fa-gear"></i>
    </button>

    <span class="date">
        {{ today | date:'fullDate' }}
    </span>

    <table class="act-menu">
        <td *ngFor="let activity of activities" class="act-menu-item" [ngClass]="{'inactive': !activity.available}"
            [style.--bg-color]="activity.color" (click)="changeActStatus(activity)">
            {{ activity.name }}
        </td>
    </table>
</div> <br>

<schedule-table></schedule-table>

<br>
<div class="footer">
    <mat-form-field appearance="outline">
        <mat-label>Day Type</mat-label>
        <mat-select [(value)]="currDayType" (selectionChange)="onDayTypeChange($event.value)">
            <mat-option *ngFor="let day of dayTypes" [value]="day">
                {{ day.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-icon-button style="color:rgb(85, 226, 85)" (click)="exportExcel()">
        <i class="fas fa-file-excel"></i>
    </button>
    <button mat-icon-button style="color: lightcoral;" (click)="generateSchedule()">
        <i class="fas fa-play-circle"></i>
    </button>
    <button mat-icon-button (click)="lockAll()">
        <i *ngIf="!isAllLocked" class="fas fa-table-cells-row-lock"></i>
        <i *ngIf="isAllLocked" class="fas fa-table-cells-row-unlock"></i>
    </button>
    <span style="display: flex; flex-direction: column;">
        <button mat-icon-button style="color: gold;" (click)="saveAllChanges()">
            <i class="fas fa-save"></i>
        </button>
        <button mat-icon-button style="color: orange;" (click)="updateDaycampCounter()">
            <i class="fas fa-baby"></i>
        </button>
    </span>
</div>