<div class="custom-tab-header">
    <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="onTabChange($event)">
        <mat-tab *ngFor="let dayType of typeList; let i = index" [label]="dayType.name">
            <form [formGroup]="daytypeForm">
                <mat-form-field> <input matInput formControlName="name" /> </mat-form-field>
                <period-list [periods]="selectedType.periods" (periodsChange)="onPeriodsChange($event)"></period-list>
            </form>
        </mat-tab>
    </mat-tab-group>

    <span class="add-tab-button">
        <button mat-icon-button color="accent" (click)="addTab()">
            <i class="fas fa-plus"></i>
        </button>
        <button mat-icon-button color="warn" (click)="deleteTab()">
            <i class="fas fa-trash"></i>
        </button>
        <button mat-icon-button style="color:cornflowerblue" (click)="saveTab()"><i
                class="fas fa-circle-check"></i></button>
    </span>
</div>