.settings-container {
    margin: 10px
}

.settings-toolbar,
.settings-actions {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 16px;
}

.settings-btn {
    mat-icon {
        font-size: 20px;
        line-height: 1;
    }
}

.settings-sections {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.settings-section {
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 8px;
}

.settings-btn-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.save-restore-btns>* {
    margin-left: 20px;
}

.setting-sum {
    color: #7f8489;
}

.switches-div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    mat-slide-toggle {
        margin: 10px;
    }
}